 body {
     font-family: Arial, sans-serif;
     background: #f5f6fa;
     margin: 0;
     padding: 0;
 }

 /* Barra de navegação */
 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #304b8a;
     padding: 10px 10px;
     color: white;
 }



 .logo-ic {
     height: 40px;
 }

 .home-icon {
     /* tamanho do ícone */
     height: 40px;
     cursor: pointer;
     /* muda cursor para indicar que é clicável */
 }

 .navbar h1 {
     font-size: 2rem;
     margin: 0;
 }



 /* Container do formulário */
 .container {
     max-width: 800px;
     background: white;
     margin: 40px auto;
     padding: 50px;
     border-radius: 10px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 }

 .textarea-container {
     position: relative;
 }

 textarea {
     width: 100%;
     height: 150px;
     padding: 10px;
     padding-bottom: 30px; /* espaço para o contador */
     font-size: 20px;
     border: 1px solid #ddd;
     border-radius: 6px;
     resize: vertical;
     margin-bottom: 18px;
     box-sizing: border-box;
     position: relative;
 }

 #char-count {
     position: absolute;
     bottom: 15px;
     right: 10px;
     font-size: 12px;
     color: #666;
     background: rgba(255, 255, 255, 0.8);
     padding: 2px 5px;
     border-radius: 3px;
 }

 .preview {
     border: 1px solid #ddd;
     padding: 10px;
     border-radius: 6px;
     background: #f8f8f8;
     min-height: 100px;
     margin-bottom: 20px;
     overflow-wrap: break-word;
 }


 h2 {
     margin-bottom: 10px;
     font-size: 35px;
     color: #222;
 }

 p {
     color: #666;
     margin-bottom: 20px;
 }

 label {
     display: block;
     font-size: 20px;
     margin-bottom: 6px;
     color: #333;
 }

 input[type="text"],
 input[type="email"],
 input[type="date"],
 input[type="url"],
 input[type="file"] {
     width: 100%;
     padding: 9px;
     margin-bottom: 18px;
     border: 1px solid #ddd;
     border-radius: 6px;
     font-size: 20px;
 }

 .form-row {
     display: flex;
     gap: 45px;
 }

 .form-row input {
     flex: 1;
 }

 button {
     display: block;
     width: 200px;
     padding: 20px;
     background: #0A5EFF;
     color: white;
     font-size: 20px;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     margin: 20px auto 0 auto;
     transition: 0.3s;
 }

 button:hover {
     background: #084cc0;
 }